<nav *ngIf="navbarVisible" style="margin-bottom:0px;" class=" navbar navbar-inverse"  data-spy="affix" data-offset-top="12">
  <div class="container-fluid">
    <div class="navbar-header hidden-sm hidden-xs">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://worldviewsolutions.com/#/"><i class="fa fa-plug" aria-hidden="true"></i>
Powered By WorldView Solution.Inc</a>
    </div>
<div class="hidden-lg hidden-xl hidden-md row">    <div class="col-sm-1 col-xs-1" ><a [routerLink]="['map/:id']"><h4 style="color:#FFF;"><i style="font-size:16px" class="fa fa-arrow-circle-left" aria-hidden="true"></i>

</h4>
</a></div>   
<div class="col-sm-1 col-xs-1">
    <a [routerLink]="['']"><h4 style="color:#FFF;"> <i style="font-size:large;" class="fa fa-home" aria-hidden="true"></i></h4></a>
</div>

<div class="col-sm-9 col-xs-9"  > <search-bar class="hidden-md" width="200" ></search-bar></div><div class="col-sm-1 col-xs-1"></div>
</div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <form  style="width: 50vw" class="navbar-form navbar-left" style="width: 50vw" role="search">
        <div  class="">
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><img width="100" src="http://www.danville-va.gov/ImageRepository/Document?documentID=15290" style="padding-right:10px;"><i class="fa fa-external-link" aria-hidden="true"></i>
 </a></li>
      </ul>
    </div>
  </div>
</nav>
<div  style="display:none">
<div class="input-group">
  <span class="input-group-btn">
 <button class="btn btn-primary "><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
</button>  </span>
</div>
  </div>
  <div class="container-fluid">
    <router-outlet></router-outlet>
    </div>