
 
<mapView *ngIf="width>700px" ></mapView> 
 <div class="container-fluid hidden-md hidden-lg" >
    <div class="row">
                         
             <div class="col-sm-8">
             <carousel class="imgs" lat="{{lat}}" lng="{{lng}}" lat="{{lat}}" lng="{{lng}}" lat="{{lat}}" lng="{{lng}}"  lat="{{lat}}" lng="{{lng}" lat="{{lat}}" lng="{{lng}}"></carousel>
             <d-header  class="header" address="{{address}}" owner="{{owner}}" zip="{{zip}}"  assesment="{{assesment}}" change="{{change}}"></d-header>
             <d-table class="table" LotSize="{{LotSize}}" parcelId="{{parcelId}}" owner="{{owner}}" assesment="{{assesment}}" yearBuilt="{{yearBuilt}}"
             bedrooms="{{bedrooms}}" bathrooms="{{bathrooms}}" garage="{{garage}}" assesmentYear="{{assesmentYear}}"
             landValue="landValue" improvementValue="{{improvementValue}}" totalValue="{{totalValue}}" elementary="{{elementary}}"
             middleSchool="{{middleSchool}}" highSchool="{{highSchool}}" dateSale="{{dateSale}}" salePrice="{{salePrice}}" 
             book="{{book}}"></d-table>
            </div>
            <div class="col-sm-4">

        </div>
        
    </div>
  </div>
  