 <div class="container-fluid">
      <div class="row" >
<div class="details">
        <div class="col-sm-4">
     <h4 style="color:#716C6C">Details</h4>
     </div>
      
      <div class="col-sm-4">
      <ul>
    <li>  Assesment: <strong> {{assesment}}</strong></li>
      <li> Parcel ID: <strong>{{parcelId}}</strong></li>
     <li>  Lot Size: <strong> {{LotSize}}</strong></li>
     <li>  Building Size <strong> 1200 sqft</strong></li>
     
     
      </ul>
     </div>
    <div class="col-sm-4">
      <ul>
        <li>  Year Built: <strong> {{yearBuilt}}</strong></li>
        <li>Bedrooms: <strong> {{bedrooms}}</strong></li>
        <li>Bathrooms: <strong> {{bathrooms}}</strong></li>
         <li> Total Rooms: <strong>8</strong></li>
        
        
      </ul>
    </div>
    </div>
    
     <div class="panel-group">
  <div class="">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse3_{{parcelId}}" style="color:#2F5072; font-size:15px; padding-left:495px; font-weight:500px;" > <i class="fa fa-plus-circle" aria-hidden="true"></i> More Features</a>
      </h4>
    </div>
    <div id="collapse3_{{parcelId}}"  class="panel-collapse collapse">
      <div class="panel-body"></div>
                      <div class="row" >
<div class="details">
        <div class="col-sm-4">
     <h4 style="color:#716C6C"></h4>
     </div>
      
      <div class="col-sm-4">
      <ul>
     <li>  Appraiser: <strong> JD</strong></li>
    <li>  Front Porch: <strong> Yes</strong></li>
     <li> Buidling Material: <strong>Brick</strong></li>
     <li>  Back Porch: <strong> Yes</strong></li>
     
      </ul>
     </div>
    <div class="col-sm-4">
      <ul>
        <li> Fireplace <strong> yes </strong></li>
        <li>Heating: <strong> Forced Air</strong></li>
        <li> Garage: <strong> {{garage}}</strong></li>
      </ul>
    </div>
    </div>
    </div>
  </div>
</div>

<div class="row" style="padding-top:15px;">
  <div class="col-sm-4">
    <h4 style="color:#716C6C; padding-left:12px;">Schools</h4>
    </div>

  <div class="col-sm-4" >
      <ul>
    <li>  Elementary: <strong> {{elementary}}</strong></li>
   <li> Middle School: <strong>{{middleSchool}}</strong></li>
    
</ul>
</div>
  <div class="col-sm-4">
    <ul>
    <li>High School: <strong>{{highSchool}}</strong></li>
   
 </ul>
  </div>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>


<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse_{{parcelId}}" style="color:#2F5072">Assesment History</a>
      </h4>
    </div>
    <div id="collapse_{{parcelId}}" class="panel-collapse collapse">
      <div class="panel-body">        <div class="hidden-sm hidden-xs" align="center"><d3graph parcelId="{{parcelId}}"></d3graph></div>
<table class="table table-striped">
      <thead>
          
            
            <tr>
             <th> Year </th>
            <th> Land Value</th>
            <th>Improvement Value</th>
            <th> Total Value</th>
            </tr>
      </thead>
      <tbody >
          <tr class="{{assesmentYear}}-{{parcelId}}">
            <td>{{assesmentYear}}</td>
            <td>{{salePrice}}</td>
            <td>{{improvementValue}}</td>
            <td>{{totalValue}}</td>
          </tr>
          <tr>
           <td>{{assesmentYear}}</td>
            <td>{{salePrice}}</td>
            <td>{{improvementValue}}</td>
            <td>{{totalValue}}</td>
          </tr>
          <tr>
             <td>{{assesmentYear}}</td>
            <td>{{salePrice}}</td>
            <td>{{improvementValue}}</td>
            <td>{{totalValue}}</td>
          </tr>
      </tbody>
      
  </table></div>
      
    </div>
  </div>
</div>
    
    
    
    
    <div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse2_{{parcelId}}" style="color:#2F5072">Sales History</a>
      </h4>
    </div>
    <div id="collapse2_{{parcelId}}" class="panel-collapse collapse">
      <div class="panel-body">
        <table class="table table-striped">
      <thead>
        <tr>
          <th>Date of Sale:</th>
          <th>Sale Price:</th>
          <th>Owner Name</th>
          <th>Book:</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>{{dateSale}}</td>
            <td>{{salePrice}}</td>
            <td>{{owner}}</td>
           <td>{{book}}</td>
          </tr>
          <tr>
            <td>{{dateSale}}</td>
            <td>{{salePrice}}</td>
            <td>{{owner}}</td>
           <td>{{book}}</td>
          </tr>
          <tr>
            <td>{{dateSale}}</td>
            <td>{{salePrice}}</td>
            <td>{{owner}}</td>
           <td>{{book}}</td>
          </tr>
      </tbody>
      
  </table></div>
   
    </div>
  </div>
</div>
    
  <div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse5_{{parcelId}}" style="color:#2F5072">Addition History</a>
      </h4>
    </div>
    <div id="collapse5_{{parcelId}}" class="panel-collapse collapse">
      <div class="panel-body">
        <table class="table table-striped">
      <thead>
        <tr>
          <th>Type:</th>
          <th>Description:</th>
          <th>Area:</th>
          <th>Year Added:</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>Addition</td>
            <td>Brick Veneer</td>
            <td>N/A</td>
           <td>1994</td>
          </tr>
          <tr>
            <td>Addition</td>
            <td> Front Porch</td>
            <td>200 sqft</td>
           <td>2001</td>
          </tr>
          <tr>
             <td>Addition</td>
            <td> Drive Way Concrete</td>
            <td>N/A</td>
           <td>2001</td>
          </tr>
      </tbody>
      
  </table></div>
   
    </div>
  </div>
</div>

  
 </div>
  
</div>
  
  
  
  
  
  
  
  
  