<div class="page-header">
                    <div class="row">
                        <div class="col-sm-8">
                        <h1 style="color:#2C5E93">Parcel Information</h1>
                        </div>
                        <div class="col-sm-4">
                        <address >
                            
                            <strong >{{owner}}</strong><br>
                            {{address}}<br> {{zip}}<br>
                        </address> 
                        </div>  
                        </div>
                        <hr>
                        
                        <div class="row">
                        
                        <div class="col-sm-8">
                        <h4>Assesment: {{assesment}}</h4>
                        </div>
                        <div class="col-sm-4">
                            
                        <h4 style="color:green; font-weight:600;" > <i class="fa fa-arrow-up" aria-hidden="true"></i>
{{change}}</h4>
                       </div >
                    </div>
                    