<div id="loadingScreen" style="border-radius: 25px; position:fixed; top:50%; left:50%"><i class="fa fa-refresh fa-pulse fa-3x fa-fw"></i>
<span class="sr-only">Loading...</span>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-9">
    <div class=" mapContainer"><map  (isGoogleLoaded)="onGoogleMapsLoad($event)" selected="{{selectedParcel}}" key="{{key}}"></map></div>
  </div>

  <div id="wrapper" class="hidden-sm hidden-xs col-md-6 col-lg-3 ">

    <div class="panel">
      <div class="panel-heading-menu">
        <div align="center"><b>       
</b></div>
      </div>
      <div class="panel-body">
        <search-bar></search-bar>
       
       
       
      <div class="filterBar" style="padding-top:20px">
      <button style="opacity:.8;" class="btn btn-primary  btn-block"><strong><i class="fa fa-sliders" aria-hidden="true"></i>
Search Filters</strong></button>


<div class="well well-lg" >
 <div class="aFilter">
    <strong style="padding-bottom:15x">Filter by Assessment: </strong>
    <br>  <b>$0</b> <input id="ex2" type="text" class="span2" value="" data-slider-min="10000" data-slider-max="1000000" data-slider-step="5" data-slider-value="[250,450]" style="background-color:white;"/> <b>$10,000,000</b>
</div>

  
 
    <div class="row" style="padding-top:20px">
        <div class="col-sm-6">
   <strong>Filter by Date:</strong><br>
       <input style="width:150px;" type="text" readonly="readonly" name="date" class="input-append date" id="datepicker" data-date="01-2016" 
       data-date-format="yyyy" placeholder="Date" >    
      <span class="add-on"><i class="fa fa-calendar" aria-hidden="true"></i> 
    </span>  
    
</div>


<div class="col-sm-6" ><br> 
<input style="width:150px;" type="text" readonly="readonly" name="date" class="input-append date" id="datepicker2" data-date="01-2016" 
       data-date-format="yyyy" placeholder="Date">    
      <span class="add-on"><i class="fa fa-calendar" aria-hidden="true"></i>
    </span>  
</div>
</div>


<div class="row" style="padding-top:20px;">
  <strong style="padding-left:15px"> Filter by Number of Bath or Beds:</strong>
  <div class="col-sm-6">
<input type="number" placeholder="Beds"> <i style="padding-left:7.5px" class="fa fa-minus" aria-hidden="true"></i>
</div>
<div class="col-sm-6">
<input  type="number" placeholder="Baths">
</div>
</div>
<div class="LotFilter" style="padding-top:20px">
  <strong > Filter by Lot Size:</strong>
<div class="row" >

  <div class="col-sm-6">
<input type="number" placeholder="Lot Size"> <i style="padding-left:7.5px" class="fa fa-minus" aria-hidden="true"></i>

</div>
<div class="col-sm-6">
<input  type="number" placeholder="Lot Size">
</div>
</div>
</div>



</div>
 </div>
   
       
       
       
       
       
        <hr>
        <div class="scrollarea hide">
          <div class="image" *ngFor="let parcel of parcelInfo; let i=index" on-mouseover='recenterMap(parcel.getID())'>
            <modal [parcel]="parcel" address="{{parcel.address}}"></modal>
            <a data-toggle="modal" href="#{{parcel.parcelID}}">
              <img *ngIf="i === 0" style="" width="350" height="250" src="{{parcel.thumbnail}}">
              <img *ngIf="i != 0" width="450" height="250" src="{{parcel.thumbnail}}">
              <h3><span><p *ngIf="parcel.thumbnail.indexOf('google') >-1" class="fa fa-street-view" aria-hidden="true" style="position:absolute; bottom:0px; right:5px; color:#FFA703; opacity:.4"></p> 
    <p id="{{parcel.parcelID}}_parcel"  class="hvr-float hvr-underline-reveal">{{parcel.address}}<br><p style="font-size:20px;">Assesment: {{parcel.fields.assesment}}
<br><p>  {{parcel.fields.LotSize}} | {{parcel.fields.bedrooms}}  Br|     {{parcel.fields.bathrooms}} Ba </p></p></span></h3>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- sidebar-container -->

  
</div>
<div class="row">

</div>
<!-- bs loading bar -->
<div class="modal js-loading-bar">
 <div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-body">
       <div class="progress progress-popup">
        <div class="progress-bar"></div>
        
       </div>
     </div>
   </div>
 </div>
</div>